<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UC Berkeley Meal Builder</title>
    <link rel="stylesheet" href="../style.css" />
    <script src="../script.js" defer></script>
  </head>
  <body>
    <h1>UC Berkeley Meal Builder</h1>
    <p>
      Put the amount of Protein, calories, fats, and carbs you'd like and
      we'll build you a meal plan.
      <br />
      Leave items blank if you do not have a preferance for that nutritional
      data
    </p>
    <h2>Meal Builder</h2>
    <div id="input-container"></div>
    
  </body>
</html>
